/*****************************************************************************/
/* Global CSS Styles */
/*****************************************************************************/
.center-text {
  text-align: center;
}

.center-block {
  float: none;
  margin: 0 auto;
}

.inline {
  display: inline-block;
}

.block-container {
  margin-top: 50px;
}

.small-block-container {
  margin-top: 10px;
}

.right-block {
  float: right;
  margin: 0 auto;
}

.thumb-icon {
  padding: 30px;
}

.thumb-icon-inner {
  padding-left: 15px;
}

.light-blue-ruler {
  margin-top: 35px;
  margin-bottom: 35px;
  border: 0;
  border-top: 1px solid #3572b0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.blank-container {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ddd;
}

.align-right {
  text-align: right;
}

.spaced {
  margin-left: 10px;
  margin-right: 10px;
}

textarea {
  resize: vertical;
}

.light-blue {
 color: #205081;
}

.light-blue:hover {
  color: #000;
}

.editor-block {
  padding: 25px !important;
}

.shadow-button {
  color: #fff;
  text-shadow: 3px 3px #000;
}

.shadow-button:hover {
  color: #fff;
  text-shadow: 3px 3px #205081;
}

.button-less {
  background-color: inherit;
  border: 0;
}

.button-less:focus {
  background-color: inherit;
  outline: 0;
}

.error {
  border-color: #ebccd1;
  color: #a94442;
  display: block;
}

.middle-divider {
  width: 1px;
  background-color: #e5e5e5;
  top: 20%;
  height: 75%;
  position: absolute;
  right: 50%;
}

.colapse-box {
  overflow: hidden;
}

.colapse-box:hover {
  overflow: auto;
}

.thumb-title {
  height: 2em;
}

.thumb-content {
  height: 6em;
}

@media (max-width: 767px) {
  .navbar-collapse {
    max-height: none !important;
    height: auto !important;
    overflow-x: auto !important;
  }

  .middle-divider {
    display: none;
  }

  .filters {
    margin-bottom: 25px;
  }


  .thumb-title {
    height: auto;
  }

  .thumb-content {
    height: auto;
  }
}

.fa-toggle-on {
  color: #5cb85c;
}

.fa-toggle-off {
  color: #d9534f;
}

.green-container {
  background-color: #dff0d8 !important;
  border-color: #3c763d !important;
}

.red-container {
  background-color: #f2dede !important;
  border-color: #a94442 !important;
}

.play-sound {
  height: 32px !important;
  width: 32px !important;
  cursor: pointer;
}

.row-fix {
  margin-right: 0 !important;
  margin-left: 0 !important;
}