<head>
  <title>CrowdVenture</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link type="image/x-icon" href="/images/favicon.ico" rel="shortcut icon"/>
</head>

<body>
</body>
