/*****************************************************************************/
/* EditProfile: Style */
/*****************************************************************************/
.change-picture {
  margin-bottom: 5px;
  margin-top: 0 !important;
}

.change-picture-button {
  color: blue;
}