<template name="EditProfile">
  {{> Title name="Profile Settings"}}

  <form id="editProfile">
    <div class="row block-container">
      <div class="col-md-2 center-text">
        <img src="images/character.jpg" class="thumbnail character blank-container change-picture">
        <a class="change-picture-button">change picture</a>
      </div>

      <div class="col-md-10">
        <div class="thumbnail blank-container editor-block col-md-10 col-md-offset-1">
          <legend>Personal Info</legend>

          <div class="row small-block-container">
            <div class="col-md-2">
              <label>Name</label>
            </div>
            <div class="col-md-10">
              <input type="text" id="name" class="form-control" value="{{currentUser.profile.name}}">
            </div>
          </div>

          <div class="row small-block-container">
            <div class="col-md-2">
              <label>Email</label>
            </div>
            <div class="col-md-10">
              <input type="text" id="email" class="form-control" value="{{currentUser.emails.[0].address}}">
            </div>
          </div>

          <div class="row small-block-container">
            <div class="col-md-2">
              <label>Location</label>
            </div>
            <div class="col-md-10">
              <input type="text" id="location" class="form-control" value="{{currentUser.profile.location}}">
            </div>
          </div>

          <div class="row small-block-container">
            <div class="col-md-2">
              <label>Public Profile</label>
            </div>
            <div class="col-md-10">
              <i id="profile-public" class="fa fa-2x">{{toggle}}</i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row block-container">
      <div class="col-md-4 center-block center-text">
        <a id="chapter-publish">
          <i class="fa fa-2x fa-share light-blue"> save</i>
        </a>
      </div>
    </div>
  </form>
</template>