/*****************************************************************************/
/* NewChapter: Style */
/*****************************************************************************/
.fixed-choice {
  margin-bottom: 5px;
  margin-top: 5px;
}

.choices-buttons {
  position: absolute;
  top: 7px;
  right: 10px;
}

.close-text {
  margin-top: -10px;
}

#choice-msg {
	padding: 5px;
	display: inline-block;
	margin: 0;
}

.note-editor {
	margin: 0 auto;
}