<template name="NewChapter">
  {{> RunSide}}

  <div class="occupy-content">
    <div class="row">
      <div class="col-md-4 col-sm-6 center-block">
        <div class="blank-container thumb-icon-inner">
          <div class="row">
            <div class="col-md-12">
              <legend>{{chapter.name}}</legend>
              <div class="spaced">
                {{chapter.description}}
              </div>
            </div>
          </div>
        </div>
        <div class="center-text choice-history-block">
          |
          <div class="choice-history">
            <h4>{{lastChoice}}</h4>
          </div>
          |
        </div>
      </div>
    </div>

    <form id="new-chapter">
    
    {{> NewChapterFields}}

    <div class="row block-container">
      <div class="col-md-4 center-block center-text">
        <button type="submit" id="chapter-publish" class="button-less">
          <i class="fa fa-3x fa-share shadow-button"> save</i>
        </button>
      </div>
    </div>
    </form>
  </div>
</template>

<template name="NewChapterFields">
  {{setUp}}

  <!-- Name and Content -->
  <div class="small-block-container">
    {{> Title name="New Chapter"}}

    <div class="col-md-12 center-block blank-container editor-block block-container">
      <div class="row small-block-container">
        <div class="col-md-2">
          <label>Name</label>
          <div class="close-text">
            <small>Max. 100 characters</small>
          </div>
        </div>
        <div class="col-md-10">
          <input type="text" id="chapter-name" name="chapter-name" class="form-control"
                 placeholder="Chapter Name" maxlength="100">
        </div>
      </div>

      <div class="row small-block-container">
        <div class="col-md-2">
          <label>Content</label>
        </div>
        <div class="col-md-2">
          <select id="chapter-content-type" class="form-control selectpicker">
            <option value="image">Image</option>
            <option value="video">Video</option>
            <option value="text">Rich Text</option>
          </select>
        </div>
        <div class="col-md-8">
          <input type="file" id="content-image-input" class="form-control">
          <input type="text" id="content-video-input" style="display: none;"
                 class="form-control" placeholder="Youtube url...">
          <span id="error-newchapter" class="error"></span>
        </div>
      </div>

      <div class="row small-block-container">
        <div class="col-md-10 col-md-offset-2 center-text" id="content-container">
          <div style="display: none; text-align: left;" id="content-text">
            <button type="button" class="btn btn-default btn-sm btn-small dropdown-toggle hidden"
                  title="" data-hide="true" tabindex="-1" data-original-title="Sound"
                  data-toggle="dropdown" id='add-sound'>
                  <i class="fa fa-music"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="add-sound-dropdown">
              {{#if hasSounds}}
                {{#each getSounds}}
                  <li><a href="#" id="{{index}}" class="sound-input">{{name}}</a></li>
                {{/each}}
              {{else}}
                <li>You have no sounds.</li>
              {{/if}}
            </ul>
            <div name="chapter-content" id="summernote"></div>
          </div>

          <iframe src="" class="summernote-iframe img-thumbnail"
                  style="display: none;" id="content-video" frameborder="0">
          </iframe>

          <img src="" class="img-thumbnail" id="content-image" style="width: 800px; min-height: 440px;">
        </div>
      </div>

      <div class="row small-block-container">
        <div class="col-md-2">
          <label>Description</label>
          <div class="close-text">
            <small>Max. 250 characters</small>
          </div>
        </div>
        <div class="col-md-10">
          <textarea id="chapter-description" name="chapter-description" rows="3"
                    class="form-control" placeholder="Small Summary."
                    maxlength="250"></textarea>
        </div>
      </div>

      <div class="row small-block-container">
        <div class="col-md-2">
          <label>Language</label>
        </div>
        <div class="col-md-10">
          <select id="chapter-language" name="chapter-language" class="form-control selectpicker">
            <option value="en">English</option>
            <option value="pt">Portuguese</option>
            <option value="ru">Russian</option>
          </select>
        </div>
      </div>

      <div class="row small-block-container">
        <div class="col-md-2">
          <label>NSFW</label>
        </div>
        <div class="col-md-10">
          <i id="nsfw" class="fa fa-2x fa-toggle-off"></i>
        </div>
      </div>

      <div class="row small-block-container">
        <div class="col-md-2">
          <label>Choices Setting</label>
        </div>
        <div class="col-md-2">
          <select id="choice-type" class="form-control selectpicker">
            <option value="expanding">Expanding</option>
            <option value="fixed">Fixed</option>
            <option value="random">Random</option>
          </select>
        </div>
        <div class="col-md-8">
          <div class="alert alert-warning" id="choice-msg">
            Users can create new choices.
          </div>
        </div>
      </div>

      <div class="row small-block-container">
        <div class="col-md-2">
          <label>Choices</label>
        </div>
        <div class="col-md-10">
          <input type="Text" id="choices-input" class="form-control" placeholder="Add a choice.">
        </div>
      </div>
      <div class="row small-block-container" {{hasChoices}}>
        <div class="col-md-10 col-md-offset-2" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
          {{> ArrayInput name="choices"}}
        </div>
      </div>

      <div class="row small-block-container">
        <div class="col-md-2">
          <label>Variables</label>
        </div>
        <div class="col-md-4">
          <select id="variable-type" class="form-control selectpicker">
            <option value="Number">Number</option>
            <option value="Text">Text</option>
            <option value="Boolean">Boolean</option>
          </select>
        </div>
        <div class="col-md-6">
          <input type="Text" id="variable-input" class="form-control" placeholder="Add a variable.">
        </div>
      </div>
      <div class="row small-block-container" {{hasVariables}}>
        <div class="col-md-10 col-md-offset-2" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
          {{> ArrayInput name="variables"}}
        </div>
        <div class="col-md-10 col-md-offset-2">
          <div class="alert alert-danger">
            You can't edit variables after chapter creation.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>