<template name="Home">
  <div class="row close-container">
    <span id="error-home" class="error"></span>
    
    <div class="col-md-12">
      <img src="images/{{randomPhoto}}.jpg" class="blank-container character">
      <div class="random-world inline center-text">
          <a id="random-world">
            <i class="fa fa-gamepad shadow-button"></i>
          </a>
      </div>
    </div>
  </div>

  <div class="block-container">
    {{> Title name="Popular Worlds"}}
    <span id="error-run" class="error"></span>
    <div class="row">
      {{#each popularWorlds}}
        {{> WorldThumb data=this}}
      {{/each}}
    </div>

    <div class="row center-text small-block-container">
      <a href="{{pathFor 'browse'}}" class="blank-container button-thumb">
        Browse Worlds...
      </a>
    </div>
  </div>
</template>