/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.random-world {
  width: 100%;
  position: absolute;
  top: 45%;
  left: 0px;
}

.close-container {
  margin-top: -25px;
}

.error-home {
  margin-left: 15px;
}