<template name="EditChapter">
  {{startShit}}

  <div class="center-text">
    <div class="occupy-content" style="text-align: left;">
      <form id="new-chapter">
        <!-- Name and Content -->
        <div class="row small-block-container">
          {{> Title name="Edit Chapter"}}

          <div class="col-md-12 center-block blank-container editor-block">
            <div class="row small-block-container">
              <div class="col-md-2">
                <label>Name</label>
                <div class="close-text">
                  <small>Max. 100 characters</small>
                </div>
              </div>
              <div class="col-md-10">
                <input type="text" id="chapter-name" name="chapter-name" class="form-control"
                       placeholder="Chapter Name" value="{{name}}" maxlength="100">
              </div>
            </div>

            <div class="row small-block-container">
              <div class="col-md-2">
                <label>Content</label>
              </div>
              <div class="col-md-2">
                <select id="chapter-content-type" class="form-control selectpicker">
                  <option value="text">Rich Text</option>
                  <option value="image">Image</option>
                  <option value="video">Video</option>
                </select>
              </div>
              <div class="col-md-8">
                <input type="file" id="content-image-input" class="form-control" style="display: none;">
                <input type="text" id="content-video-input" style="display: none;"
                       class="form-control" placeholder="Youtube url...">
                <span id="error-newchapter" class="error"></span>
              </div>
            </div>

            <div class="row small-block-container">
              <div class="col-md-10 col-md-offset-2 center-text" id="content-container">
                <div style="text-align: left;" id="content-text">
                  <button type="button" class="btn btn-default btn-sm btn-small dropdown-toggle hidden"
                        title="" data-hide="true" tabindex="-1" data-original-title="Sound"
                        data-toggle="dropdown" id='add-sound'>
                        <i class="fa fa-music"></i> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" id="add-sound-dropdown">
                    {{#if hasSounds}}
                      {{#each getSounds}}
                        <li><a href="#" id="{{index}}" class="sound-input">{{name}}</a></li>
                      {{/each}}
                    {{else}}
                      <li>You have no sounds.</li>
                    {{/if}}
                  </ul>
                  <div name="chapter-content" id="summernote">{{{content}}}</div>
                </div>

                <iframe src="" class="summernote-iframe img-thumbnail"
                        style="display: none;" id="content-video" frameborder="0">
                </iframe>

                <img src="" class="img-thumbnail" id="content-image" style="width: 800px; min-height: 440px; display: none;">
              </div>
            </div>

            <div class="row small-block-container">
              <div class="col-md-2">
                <label>Description</label>
                <div class="close-text">
                  <small>Max. 250 characters</small>
                </div>
              </div>
              <div class="col-md-10">
                <textarea id="chapter-description" name="chapter-description" rows="3"
                        class="form-control" placeholder="Small Summary."
                        maxlength="250" value="{{description}}"></textarea>
              </div>
            </div>

            <div class="row small-block-container">
              <div class="col-md-2">
                <label>Language</label>
              </div>
              <div class="col-md-10">
                <select id="chapter-language" name="chapter-language" class="form-control selectpicker">
                  <option value="en" {{selectedLanguage 'en'}}>English</option>
                  <option value="pt" {{selectedLanguage 'pt'}}>Portuguese</option>
                  <option value="ru" {{selectedLanguage 'ru'}}>Russian</option>
                </select>
              </div>
            </div>

            <div class="row small-block-container">
              <div class="col-md-2">
                <label>NSFW</label>
              </div>
              <div class="col-md-10">
                <i id="nsfw" class="fa fa-2x {{getNSFW}}"></i>
              </div>
            </div>

            <div class="row small-block-container">
              <div class="col-md-2">
                <label>Choices Setting</label>
              </div>
              <div class="col-md-2">
                <select id="choice-type" class="form-control selectpicker">
                  <option value="expanding" {{selectedChoiceType 'expanding'}}>Expanding</option>
                  <option value="fixed" {{selectedChoiceType 'fixed'}}>Fixed</option>
                  <option value="random" {{selectedChoiceType 'random'}}>Random</option>
                </select>
              </div>
              <div class="col-md-8">
                <div class="alert alert-warning" id="choice-msg">
                  {{choiceMsg}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row block-container">
          <div class="col-md-4 center-block center-text">
            <button type="submit" id="chapter-publish" class="button-less">
              <i class="fa fa-3x fa-share shadow-button"> save</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

