
<template name="RunOptions">
  {{> RunSide}}

  <div class="occupy-content">
    <form id='run-options'>
      {{> Title name="Run Options"}}
      {{setUp}}
      
      <div class="row small-block-container">
        <div class="col-md-10 center-block blank-container editor-block">
          <div class="row small-block-container">
            <div class="col-md-2">
              <label>Name</label>
            </div>
            <div class="col-md-10">
              <input type="text"
                     id="run-name"
                     name="run-name"
                     placeholder="Makes it better to remember each run."
                     class="form-control"
                     value="{{name}}">
            </div>
          </div>

          <div class="row small-block-container">
            <div class="col-md-2">
              <label>Prefered tags</label>
            </div>
            <div class="col-md-10">
              <select id="run-tags" class="form-control selectpicker" multiple data-live-search="true">
                {{#each availableTags}}
                  <option value="{{name}}" {{selected}}>{{name}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class="row small-block-container">
            <div class="col-md-2">
              <label>Languages</label>
            </div>
            <div class="col-md-10">
              <select id="run-languages" class="form-control selectpicker" multiple>
                <option value="en" {{languageSelected 'en'}}>English</option>
                <option value="pt" {{languageSelected 'pt'}}>Portuguese</option>
                <option value="ru" {{languageSelected 'ru'}}>Russian</option>
              </select>
            </div>
          </div>

          <div class="row small-block-container">
            <div class="col-md-2">
              <label>Chapter Selection</label>
            </div>
            <div class="col-md-3">
              <select id="run-selection" class="form-control">
                <option value="Top" {{selectionSelected 'Top'}}>Top Rated</option>
                <option value="Random" {{selectionSelected 'Random'}}>Random</option>
                <option value="Select" {{selectionSelected 'Select'}}>User Selected</option>
              </select>
            </div>
            <div class="col-md-7">
              <div class="alert alert-warning" id="choice-msg">
                {{selectionMsg}}
              </div>
            </div>
          </div>

          <div class="row small-block-container">
            <div class="col-md-2">
              <label>NSFW</label>
            </div>
            <div class="col-md-10">
              <i id="run-nsfw" class="fa fa-2x {{getNSFW}}"></i>
            </div>
          </div>

          <div class="row small-block-container">
            <div class="col-md-2">
              <label>Public</label>
            </div>
            <div class="col-md-10">
              <i id="run-public" class="fa fa-2x {{getPublic}}"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="row block-container">
        <div class="col-md-4 center-block center-text">
          <button type="submit" id="run-options-submit" class="button-less">
            <i class="fa fa-3x fa-share shadow-button"> save</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

