<template name="NewWorld">
  {{startShit}}

  <div class="center-text">
    <div class="occupy-content" style="text-align: left;">
      <form id="new-world">
        {{> Title name="World Settings"}}
        <div class="row block-container">
          <div class="col-md-12 blank-container editor-block">
            <div class="row small-block-container">
              <div class="col-md-2">
                <label>Name</label>
                <div class="close-text">
                  <small>Max. 100 characters</small>
                </div>
              </div>
              <div class="col-md-10">
                <input type="text" id="world-name" name="world-name" class="form-control"
                       placeholder="World Name" maxlength="100">
              </div>
            </div>

            <div class="row small-block-container">
              <div class="col-md-2">
                <label>Level</label>
              </div>
              <div class="col-md-10">
                <input type="Number" id="world-lvl" name="world-lvl" class="form-control" placeholder="Minimun level to enter this world">
              </div>
            </div>

            <div class="row small-block-container">
              <div class="col-md-2">
                <label>View Permissions</label>
              </div>
              <div class="col-md-2">
                <select id="world-view" class="form-control selectpicker">
                  <option value="public">Public</option>
                  <option value="private">Private</option>
                </select>
              </div>
              <div class="col-md-8" {{viewPrivate}}>
                <input type="Text" id="allowed-view-input" class="form-control" placeholder="Add by Username">
                <span id="error-view" class="error"></span>
              </div>
            </div>
            <div class="row small-block-container" {{viewPrivate}}>
              <div class="col-md-10 col-md-offset-2" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
                {{> ArrayInput name="viewPermissions"}}
              </div>
            </div>

            <div class="row small-block-container">
              <div class="col-md-2">
                <label>Write Permissions</label>
              </div>
              <div class="col-md-2">
                <select id="world-write" class="form-control selectpicker">
                  <option value="public">Public</option>
                  <option value="private">Private</option>
                </select>
              </div>
              <div class="col-md-8" {{writePrivate}}>
                <input type="Text" id="allowed-write-input" class="form-control" placeholder="Add by Username">
                <span id="error-write" class="error"></span>
              </div>
            </div>
            <div class="row small-block-container" {{writePrivate}}>
              <div class="col-md-10 col-md-offset-2" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
                {{> ArrayInput name="writePermissions"}}
              </div>
            </div>
          </div>
        </div>

        <div class="block-container">
          {{> NewChapterFields}}
        </div>

        <div class="row block-container">
          <div class="col-md-4 center-block center-text">
            <button type="submit" id="chapter-publish" class="button-less">
              <i class="fa fa-3x fa-share shadow-button"> save</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
