/*****************************************************************************/
/* Chapter: Style */
/*****************************************************************************/
.chapter-stats {
  margin-top: 10px;
}

.vote-button {
  margin: 0px 5px 0px 5px !important;
  width: 30px;
  height: 30px;
  line-height: 20px;
}

.randomed {
  background-color: #d9edf7 !important;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.reportedChapter {
  color: #8a6d3b !important;
  background-color: #fcf8e3;
  font-weight: bold !important;
}

.choice-button {
  display: inline-block !important;
  float: right;
  padding: 0 !important;
}

#show-choices {
  cursor: pointer;
}

.avatar-comment {
  width: 50px;
  height: 50px;
  vertical-align: top;
  position: absolute;
  left: -70px;
  top: 5px;
}

.new-comment-container {
  margin-left: 80px;
  padding-right: 5px;
  position: relative;
}

.new-comment-container textarea {
  resize: none;
  width: 100%;
  border: 1px solid #d5d5d5;
  margin-top: 15px;
  padding: 7px;
}

.new-comment-container textarea:focus,
.new-comment-container textarea:active {
  outline: none;
}

.comment-container {
  margin-left: 80px;
  padding-right: 5px;
  position: relative;
  margin-bottom: 10px;
}

.replying {
  border-top: 1px solid #3c763d !important;
  padding-top: 5px;
  border-bottom: 1px solid #3c763d !important;
  padding-bottom: 5px;
}

.comment-container .comment-text {
  border: none;
  width: 100%;
  margin-top: 5px;
  display: inline-block;
}

.callout-inner {
  top: 1px;
  left: 2px;
  border: 6px solid #fff;
  z-index: 1;
  position: absolute;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.callout {
  position: absolute;
  top: 15px;
  left: -12px;
}

.callout-outer {
  top: 0;
  left: 0;
  border: 6px solid #d5d5d5;
  position: absolute;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.new-comment-container.on textarea {
  border: 1px solid #31708f;
}

.new-comment-container.on .callout-outer {
  border: 6px solid #31708f;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.new-comment-container .comment-buttons button {
  margin-left: 5px;
}

.comment-buttons {
  margin: 5px 7px 0 7px;
  height: 34px;
}

.comment-buttons .anonymous-button {
  color: #999;
  font-weight: normal;
  vertical-align: middle;
}

.comment-buttons .comment-vote {
  color: #AAA;
  margin-left: 7px;
}

.comment-buttons .comment-vote .fa {
  font-size: 12px;
}

.comment-buttons .comment-reply {
  color: #AAA;
  margin-left: -5px;
}

.comments-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-weight: bold;
  margin-top: 10px;
  height: 32px;
}

.comments-header-info {
  margin-left: 15px;
  font-size: 17px;
  float: left;
}

.comments-header-button {
  float: right;
  margin-right: 10px;
  padding-bottom: 10px;
  width: 50px;
  text-align: center;
  vertical-align: top;
}

.comments-header-button.on {
  border-bottom: 2px solid #09f;
}

.comment-subheader label {
  margin-right: 5px;
  color: #000;
}

.comment-subheader {
  color: #aaa;
}

.subcomment-container {
  margin-left: 30px;
  padding-left: 10px;
  border-left: 1px dashed #ddd;
}

.load-comments {
  margin-left: 25px;
}

.load-comments .load-more-comments {
  color: #09f;
  font-weight: bold;
  font-size: 13px;
}