/*****************************************************************************/
/* Profile: Style */
/*****************************************************************************/
.character {
  margin-top: 10px;
  width: 100%;
  height: auto;
}

.expBar {
  border: 1px solid #ddd;
  padding: 1px !important;
  margin-top: 10px;
  width: 100%;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(255,240,210);
}

.curExp {
  height: 100%;
  border-radius: 5px;
  background-color: rgb(255,183,45);
}

.lvl {
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;

  border-style: solid;
  border-width: 2px;
  border-radius: 70px;
  border-color: #3572b0;

  margin-top: -5px;
  margin-left: -10px;
}

.profileInfo-item {
  margin-bottom: 5px;
}

.stats-icon {
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.stats {
  line-height: 30px;
}

.new-forks {
  color: red;
  display: inline-block;
}