<template name="Profile">
    <div class="row">
      <!-- Gamefication Character  -->
      <div class="col-xs-12 col-lg-9 center-block">
        <div class="col-xs-4 col-sm-3">
          <img src="/images/character.jpg" class="character blank-container">
        </div>
        <div class="col-xs-8 col-sm-offset-1">
          <div class="row">
            <div class="col-xs-1">
              <div class="lvl">
                {{profile.lvl}}
              </div>
            </div>
            <div class="col-xs-10">
              <legend>{{username}}</legend>
            </div>
          </div>

          <!-- Stats -->
          <div class="row small-block-container">
            <div class="col-xs-3 blank-container stats">
              <div class="spaced">
                <i class="fa fa-2x fa-eye"></i>
                <!-- <i class="fa fa-pencil right-block visible-xs"></i> -->
                <div class="inline right-block">
                  {{profile.views}}
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-xs-offset-1 blank-container stats">
              <div class="spaced">
                <i class="fa fa-2x fa-pencil"></i>
                <!-- <i class="fa fa-pencil right-block visible-xs"></i> -->
                <div class="inline right-block">
                  {{writeCount}}
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-xs-offset-1 blank-container stats">
              <div class="spaced">
                <i class="fa fa-2x fa-comment"></i>
                <!-- <i class="fa fa-pencil right-block visible-xs"></i> -->
                <div class="inline right-block">
                  {{commentCount}}
                </div>
              </div>
            </div>
          </div>

          <!-- Exp bar -->
          <div class="row small-block-container">
            <div class="col-xs-11">
              <div class="expBar blank-container">
                <div class="curExp" style="width: {{curExp}};">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{#if hasRuns}}
    <!--   CURRENT RUNS  -->
    <div class="block-container">
      <a id="show-runs">
        {{> Title name="Current Runs <span class='caret'></span>"}}
      </a>

      {{#if showRuns}}
        <div class="row">
          {{#each runs}}
            {{> RunThumb data=chapter run=this}}
          {{/each}}
        </div>
      {{/if}}
    </div>
    {{/if}}

    {{#if hasChapters}}
    <!--  MY CHAPTERS  -->
    <div class="block-container">
      <a id="show-chapters">
        {{> Title name="Your Chapters <span class='caret'></span>"}}
      </a>

      {{#if showChapters}}
        <div class="row">
          {{#each chapters}}
            {{> ChapterThumb data=this icon="fa-cog"}}
          {{/each}}
        </div>
      {{/if}}
    </div>
    {{/if}}

    <!-- My Worlds -->
    {{#if hasWorlds}}
    <div class="block-container">
      <a id="show-worlds">
        {{> Title name="Your Worlds <span class='caret'></span>"}}
      </a>

      {{#if showWorlds}}
        <div class="row">
          {{#each worlds}}
            {{> ProfileWorldThumb data=this}}
          {{/each}}
        </div>
      {{/if}}
    </div>
    {{/if}}
</template>

<template name="RunThumb">
  <div class="col-md-6 col-sm-6 col-lg-4 thumb-icon">
    <div class="blank-container thumb-icon-inner">
      <div class="row">
        <div class="col-md-12">
          <legend class="colapse-box thumb-title">{{run.name}}</legend>
          <div class="spaced colapse-box thumb-content">
            <label>Chapter:</label> {{data.name}}<br>
            <label>Choice:</label> {{lastChoice}}<br>
          </div>
        </div>
      </div>
      <div class="row small-block-container">
        <div class="col-sm-6">
          <span class="simptip-position-top simptip-fade" data-tooltip="Total child chapters from {{runTooltip}}">
            <i class="fa fa-code-fork spaced"> {{forks}}</i>
          </span>
        </div>
        <div class="col-sm-6 align-right">
          <a href="{{pathFor 'runOptions' id=run._id}}"><i class="fa fa-cog spaced"></i></a>
          <a href="{{pathFor 'run' id=run._id}}"><i class="fa fa-play spaced"></i></a>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="ProfileWorldThumb">
  <div class="col-md-6 col-sm-6 col-lg-4 thumb-icon">
    <div class="blank-container thumb-icon-inner">
      <div class="row small-block-container">
        <div class="col-xs-1 spaced">
          <div class="lvl">
            {{data.minLvl}}
          </div>
        </div>
        <div class="col-xs-9">
          <legend class="colapse-box thumb-title">{{data.name}}</legend>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 spaced colapse-box thumb-content">
        {{data.chapterDescription}}
        </div>
      </div>
      <div class="row small-block-container">
        <div class="col-sm-10">
          <span class="simptip-position-top simptip-fade" data-tooltip="Users on this World">
            <i class="fa fa-users spaced"> {{data.views.count}}</i>
          </span>
          <span class="simptip-position-top simptip-fade" data-tooltip="Total chapters from this World">
            <i class="fa fa-code-fork spaced" id="count-{{data._id}}"> {{data.chaptersCount}}</i>
          </span>
        </div>
        <div class="col-sm-2 align-right">
          <a href="{{pathFor 'editWorld' id=data._id}}"><i class="fa fa-cog spaced"></i></a>
        </div>
      </div>
    </div>
  </div>
</template>