<template name="Title">
  <div class="row center-text row-fix">
    <div class="col-md-3 light-blue light-blue-ruler"></div>
    <div class="col-md-6">
      <h2>{{{name}}}</h2>
    </div>
    <div class="col-md-3 light-blue light-blue-ruler"></div>
  </div>
</template>