<template name="ArrayInput">
  {{#each array}}
    {{> ArrayIcon data=this}}
  {{/each}}
</template>

<template name="ArrayIcon">
  <div class="array-icon" title="{{data.tooltip}}" style="{{getColor}}">
    {{data.key}}
    {{#unless preventRemove}}<a id="{{data.value}}" class="remove-array"><i class="fa fa-close"></i></a>{{/unless}}
  </div>
</template>