.array-icon {
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #5bc0de;
  color: #fff;
  display: inline-block;
  border-radius: .25em;
  padding: .6em .6em .6em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10.5px;
  font-weight: bold;
}

.array-icon > a {
  color: #fff !important;
  margin-left: 5px;
}