<template name="Browse">
  {{> Title name="Browse Worlds"}}

  {{> BrowseSide}}

  <div class="occupy-content">
    <div class="row row-fix">
      <div class="col-xs-12">
        <span id="error-run" class="error"></span>
      </div>
      {{#each filteredWorlds}}
        {{> WorldThumb data=this}}
      {{/each}}
    </div>
    <div class="row row-fix center-text">
      <a class="blank-container button-thumb" id="load-more-worlds" hidden>Load more worlds...</a>
      <a class="blank-container button-thumb small-block-container"
         href="{{pathFor route='newWorld'}}">
        Create new world...
      </a>
    </div>
  </div>
</template>

<template name="BrowseSide">
  <div class="left-bar">
    <div class="blank-container sidebar-nav">
      <div class="navbar" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Filters</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav filters">
            <li class=""><legend>Sort</legend></li>
            <li class="small-block-container">
              <span class="simptip-position-top simptip-fade" data-tooltip="Sort by number of users on World">
                <a id="views-sort"><i id="views-sort-fa" class="fa fa-users thumbnail vote-button center-text green-container"></i></a>
              </span>
              <span class="simptip-position-top simptip-fade" data-tooltip="Sort by creation time">
                <a id="date-sort"><i id="date-sort-fa" class="fa fa-clock-o thumbnail vote-button center-text"></i></a>
              </span>
              <span class="simptip-position-top simptip-fade" data-tooltip="Sort by number of chapters from World">
                <a id="chapters-sort"><i id="chapters-sort-fa" class="fa fa-code-fork thumbnail vote-button center-text"></i></a>
              </span>
              <span class="simptip-position-top simptip-fade" data-tooltip="Sort by minimum level to enter World">
                <a id="lvl-sort"><i id="lvl-sort-fa" class="fa fa-star thumbnail vote-button center-text"></i></a>
              </span>
            </li>
            <li class="small-block-container hidden-xs"><legend>Filters</legend></li>
            <li class="small-block-container">
              <label>Name</label>
              <div class="filters">
                <form id="name-filter">
                  <input id="name-input-filter" type="text" class="form-control browse-input">
                </form>
              </div>
            </li>
            <li class="small-block-container">
              <label>Level</label>
              <div class="filters">
                <form id="lvl-filter">
                  <input id="lvl-ini" type="Number" class="form-control side-input" value='0'>
                  <div class="lvl-side-text spaced">
                    to
                  </div>
                  <input id="lvl-end" type="Number" class="form-control side-input">
                </form>
              </div>
            </li>
            <li class="small-block-container">
              <label>View Permission</label>
              <div class="filters">
                <i id="view-filter" class="fa filter-toggle fa-toggle-off toggle-off"></i>
              </div>
            </li>
            <li class="small-block-container">
              <label>Write Permission</label>
              <div class="filters">
                <i id="write-filter" class="fa filter-toggle fa-toggle-off toggle-off"></i>
              </div>
            </li>
            <li class="small-block-container">
              <label>Tags</label>
              <div class="filters">
                <input id="tag-filter"
                       type="text"
                       class="form-control typeahead browse-input"
                       data-source="reactiveTags"
                       autocomplete="off"
                       spellcheck="off">
              </div>
              <div class="small-block-container">
                {{> ArrayInput name="tagFilter"}}
              </div>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</template>

<template name="WorldThumb">
  <div class="col-xs-6 thumb-icon">
    <div class="blank-container thumb-icon-inner">
      <div class="row small-block-container">
        <div class="col-xs-1 spaced">
          <div class="lvl">
            {{data.minLvl}}
          </div>
        </div>
        <div class="col-xs-9">
          <legend class="colapse-box thumb-title">{{data.name}}</legend>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="spaced colapse-box thumb-content">
            {{data.chapterDescription}}
          </div>
        </div>
      </div>
      <div class="row small-block-container">
        <div class="col-sm-10">
          <span class="simptip-position-top simptip-fade" data-tooltip="Users on this World">
            <i class="fa fa-users spaced">{{data.views.count}}</i>
          </span>
          <span class="simptip-position-top simptip-fade" data-tooltip="Total chapters from this World">
            <i class="fa fa-code-fork spaced">{{data.chaptersCount}}</i>
          </span>
          <span class="simptip-position-top simptip-fade" data-tooltip="{{viewPermissionMsg}}">
            <i class="fa fa-eye spaced {{viewPermission}}"></i>
          </span>
          <span class="simptip-position-top simptip-fade" data-tooltip="{{writePermissionMsg}}">
            <i class="fa fa-pencil spaced {{writePermission}}"></i>
          </span>
        </div>
        <div class="col-sm-2 align-right">
          <a id="play-world"><i class="fa fa-play spaced"></i></a>
        </div>
      </div>
    </div>
  </div>
</template>