/*****************************************************************************/
/* Browse: Style */
/*****************************************************************************/
.filter-toggle {
  font-size: 1.5em;
}

.toggle-off {
  color: #aaa !important;
}

.filters {
  margin-left: 10px;
  margin-right: 10px;
}

.browse-input {
  padding: 0px !important;
  padding-left: 3px !important;
  height: 25px !important;
  margin: 0px;
  display: inline-block;
}

.side-input {
  padding: 0px !important;
  padding-left: 3px !important;
  height: 25px !important;
  margin: 0px;
  width: 63px;
  display: inline-block;
}

@media (max-width: 1300px) {
  .side-input {
    width: 350px;
  }
}

.lvl-side-text {
  line-height: 25px;
  display: inline-block;
}

/* Typeahead customization */
.tt-dropdown-menu {
  background-color: #fff;
  width: 100%;
  position: relative;
  padding: 0 11px 0 13px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.tt-suggestion {
  padding: 5px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.permission-public {
  color: #5cb85c;
}

.permission-private {
  color: #d9534f;
}

.permission-granted {
  color: #31708f;
}

.button-thumb {
  padding: 10px !important;
  float: none;
  margin: 0 auto;
  color: #09f;
  font-weight: bold;
  font-size: 13px;
}