/*****************************************************************************/
/* MasterLayout: Style */
/*****************************************************************************/
.container-content {
  word-wrap: break-word;
}

.navbar-brand,
.navbar .nav > li > a {
  color:  #fff;
}

.navbar-brand:hover,
.navbar-brand:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #aaa;
}

.navbar .nav > li > a:focus,
.navbar-nav > .open > a {
  background-color: transparent;
}

.header {
  background-color: #205081;
  color: #fff;
  margin-bottom: 0;
  height: 50px;
  border: 0 !important;
}

.header .navbar-toggle {
  border: 1px solid #fff;
}

.header .icon-bar {
  border: 1px solid #fff;
}

body {
  height: 100%;
  padding-bottom: 120px;
  margin-bottom: -11px;
}

html {
  height: 100%;
  overflow-x: hidden;
}

.row-fixer {
  margin-right: 0px !important;
}

.outer-content {
  background-color: #f1f1f1;
  min-height: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
}

.container-content {
  width: 1300px;
  padding: 0;
}

.left-bar {
  width: 235px;
  float: left;
  display: inline-block;
  vertical-align: top;
}

.right-bar {
  width: 235px;
  display: inline-block;
  vertical-align: top;
}

.occupy-content {
  width: 1060px;
  display: inline-block;
  vertical-align: top;
}

.chapter-container {
  width: 825px;
  display: inline-block;
  vertical-align: top;
}

.chapter-content {
  width: 800px;
}

@media (max-width: 1300px) {
  .chapter-container {
    margin-top: 40px;
  }
  
  .container-content {
    width: 825px;
  }

  .left-bar {
    width: 100%;
    float: none;
  }

  .right-bar {
    margin-top: 40px;
    width: 100%;
    float: none;
  }

  .occupy-content {
    margin-top: 40px;
    width: 100%;
    float: none;
  }
}

@media (max-width: 825px) {
  html {
    width: 825px;
    overflow-x: auto;
  }

  .outer-content {
    width: 825px;
  }
}

.footer {
  height: 70px;
  border-radius: 0;
  border: 0;
  background-color: #32323e;
  margin-bottom: 0;
}

#login-other-options > a {
  color: #337ab7;
}

#login-other-options > a:hover {
  color: #205081;
}


@media (max-width: 767px) {
  #profile-dropdown > li > a:focus,
  #profile-dropdown > li > a {
    color: #fff;
  }

  #profile-dropdown > li > a:hover {
    color: #aaa;
    background-color: transparent;
  }

  .footer {
    height: auto;
  }
}