<template name="MasterLayout">
  {{> InfoModal}}
  {{> Header}}
  <div class="outer-content">
    <div class="container-fluid container-content">
      {{> yield}}
    </div>
  </div>
  {{> Footer}}
</template>


<template name="Header">
  <div class="row row-fix">
    <nav class="navbar header" role="navigation">
      <div class="col-md-8 col-md-offset-2">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{pathFor 'home'}}">CrowdVenture</a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{pathFor 'browse'}}">Browse</a></li>
            {{#if currentUser}}
              {{> ProfileHeader}}
            {{else}}
              {{> loginButtons}}
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<template name="ProfileHeader">
  {{#if hasRun}}
    <li><a href="{{pathFor 'run' id=lastRun}}">Continue Run</a></li>
  {{/if}}
  <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        {{currentUser.username}} <span class="caret"></span>
      </a>
    <ul class="dropdown-menu" role="menu" id="profile-dropdown">
      <li><a href="{{pathFor 'profile' id=currentUser._id}}">Profile</a></li>
      <li><a id="logout">Log Out</a></li>
    </ul>
  </li>
</template>

<template name="Footer">
  <div class="footer navbar" role="navigation">
    <div class="container container-max">
        <ul class="nav navbar-nav">
          <li><a href="{{pathFor 'About'}}">About</a></li>
          <li><a href="{{pathFor 'Premium'}}">Premium</a></li>
          <li><a href="{{pathFor 'Company'}}">Advertise</a></li>
          <li><a href="{{pathFor 'Help'}}">Help</a></li>
          <li><a href="{{pathFor 'Mobile'}}">Mobile</a></li>
          <li><a href="{{pathFor 'Privacy'}}">Privacy Policy</a></li>
          <li><a href="{{pathFor 'Terms'}}">Terms</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language</a>
            <ul class="dropdown-menu" role="menu">
              <li><a>English</a></li>
              <li><a>Portuguese</a></li>
              <li><a>Russian</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</template>