<template name="RunHistory">
  {{> RunSide}}

  <div class="occupy-content">
    {{> Title name="History"}}
    <div class="block-container">
      {{#each history}}
        {{> ChapterHist data=chapterInfo hist=this}}
      {{/each}}
    </div>
  </div>
</template>

<template name="ChapterHist">
  <div class="{{expand}}">
    <div class="blank-container thumb-icon-inner">
      <div class="row">
        <div class="col-md-12">
          <legend>{{data.name}}</legend>
          <div class="spaced">
            {{#if isExpanded}}
              {{{data.content}}}
            {{else}}
              {{data.description}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 align-right">
          {{#if isExpanded}}
            <a class="shrink"><i class="fa fa-compress spaced"></i></a>
          {{else}}
            <a class="expand"><i class="fa fa-expand spaced"></i></a>
          {{/if}}
          <span class="simptip-position-top simptip-fade simptip-multiline"
                data-tooltip="Create a fork of this run at this point.">
            <a id="{{data._id}}" class="split-run"><i class="fa fa-play spaced"></i></a>
          </span>
        </div>
      </div>
    </div>
    {{#if hasChoice}}
      <div class="center-text choice-history-block">
        |
        <div class="choice-history">
          <h4>{{choice}}</h4>
        </div>
        |
      </div>
    {{/if}}
  </div>
</template>