/*****************************************************************************/
/* RunHistory: Style */
/*****************************************************************************/
.choice-history {
  color: #205081;
  margin-top: 15px;
  margin-bottom: 15px;
}

.choice-history-block {
  margin-bottom: 15px;
}

.expanded {
  width: 825px;
  margin-left: 115px;
}

.contracted {
  width: 400px;
  margin-left: 328px;
}

@media (max-width: 1300px) {
  .expanded {
    margin-left: 0;
  }
}