/*****************************************************************************/
/* Tags: Style */
/*****************************************************************************/
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
}

.modalDialog.on {
  opacity:1;
  pointer-events: auto;
}

.tag-container {
  width: 42%;
  position: relative;
  margin: 10% auto;
  background: #fff;
}

.tag-container-inner {
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #e1e1e8;
  background-color: #f7f7f9;
  padding-bottom: 10px;
}

.tag-name {
  width: 100%;
  background-color: #d9edf7;
  border-radius: 3px;
  border: 1px solid #bce8f1;
  margin: 5px;
  padding: 0 5px 0 5px;
  line-height: 20px;
  color:  #31708f;
  font-weight: bold;
}

.tag-name:hover {
  background-color: #67c1f5;
  color: #fff !important;
}

.tag {
  float: right;
  line-height: inherit;
}

.center-fix {
  margin-left: -10px;
  margin-right: 10px;
}

.tag-form-block {
  margin: 30px 10px 0px 0px;
}

.report-tag:hover {
  color: red;
}

.reported {
  color: orange;
}