<template name="Tags">
  <div class="modalDialog">
    <div class="tag-container thumbnail">
      <div class="align-right spaced">
        <a id="close-tag">
            <i class="fa fa-2x fa-close"></i>
        </a>
      </div>
      <div class="tag-container-inner">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="center-text">Popular Tags</h3>
            {{#each sortedTags}}
              <a id="{{name}}" class="add-tag">
                <div class="tag-name">
                  {{name}} 
                  <i class="fa fa-plus tag"></i>
                  <a id="{{name}}" class="report-tag tag">
                    <span class="simptip-position-top simptip-fade"
                          data-tooltip="{{reportTooltip}}">
                      <i class="fa fa-flag {{reported}} spaced"></i>
                    </span>
                  </a>
                </div>
              </a>
            {{/each}}
          </div>
          <div class="middle-divider"></div>
          <div class="col-sm-6">
            <div class="center-fix">
              <h3 class="center-text">Your Tags</h3>
              {{#each myTags}}
                <a id="{{name}}" class="remove-tag">
                  <div class="tag-name">
                    {{name}} <i class="fa fa-trash tag"></i>
                  </div>
                </a>
              {{/each}}
            </div>
            <div class="tag-form-block">
              <label>Enter a new tag in English:</label>
              <form id="new-tag">
                <input id="new-tag-name" class="form-control" type="text" tabindex="-1">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>