<template name="InfoModal">
  <!-- <div class="blockUI blockMsg blockPage" style="z-index: 1011; position: absolute; padding: 15px; margin: 0px; width: 790px; top: 528px; left: 35%; text-align: left; color: rgb(0, 0, 0); border: 2px solid rgb(0, 0, 0); cursor: default; background-color: rgb(255, 255, 255);"> -->
  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog infoModal">
      <div class="modal-content">
        <div class="modal-body">
          {{{getInfoMsg}}}
        </div>
        <!-- <div class="modal-footer">
          <button id="infoClose" type="button" class="btn green" data-dismiss="modal">Fechar</button>
        </div> -->
      </div>
    </div>
  </div>
</template>