<template name="Run">
  {{> RunSide}}
  
  {{#if hasChapter}}
    {{> Chapter data=currentChapter stats=currentStats}}
  {{else}}
    {{#if userSelect}}
      {{> ChapterSelect}}
    {{else}}
      {{checkForChapter}}
      {{> NoChapter}}
    {{/if}}
  {{/if}}
</template>

<template name="NoChapter">
  <div class="occupy-content">
    {{> Title name='No Chapter Found'}}
    <img src="/images/pen.png" class="noChapterImg">
    <div class="noChapterText center-text">
      {{#if showNewChapter}}
        <a href="{{pathFor "newChapter"}}">
          <div class="blank-container thumbnail inline noChapterButton">
              <h3><i class="fa fa-plus side-icon"></i>New Chapter</h3>
          </div>
        </a>
      {{else}}
        <div class="blank-container thumbnail inline noChapterButton">
            <h3>Author still working on chapter.</h3>
        </div>
      {{/if}}
    </div>
    {{#if hasRejected}}
      <div class="row block-container">
        <div class="col-md-6 col-md-offset-3 center-text">
          You have some rejected chapters..
          <div class="small-block-container">
            <a id="refresh-rejected">
              <i class="fa fa-refresh side-icon"></i>Undo rejections
            </a>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</template>

<template name="RunSide">
  <div class="left-bar">
    <div class="blank-container sidebar-nav">
      <div class="navbar" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Run Menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{{isRun}}"><a href="{{pathFor "run" id=_id}}">
              <i class="fa fa-road side-icon"></i>Run
            </a></li>
            <li class="{{isSettings}}"><a href="{{pathFor "runOptions" id=_id}}">
              <i class="fa fa-cog side-icon"></i>Run Settings
            </a></li>
            <li class="{{isHistory}}"><a href="{{pathFor "runHistory" id=_id}}">
              <i class="fa fa-history side-icon"></i>History
            </a></li>
            {{#if notFirst}}
              {{#if showNewChapter}}
                <li class="{{isNewChapter}}"><a href="{{pathFor "newChapter"}}">
                  <i class="fa fa-plus side-icon"></i>New Chapter
                </a></li>
              {{/if}}
            {{/if}}
            <li role="presentation" class="divider"></li>
            <li class="actions">ACTIONS</li>
            {{#if notFirst}}
              {{#if showUndo}}
                <li><a id="undo-choice">
                  <i class="fa fa-undo side-icon"></i>Undo Choice
                </a></li>
                {{#if showRefresh}}
                  <li><a id="reject-chapter">
                    <i class="fa fa-refresh side-icon"></i>Get another Chapter
                  </a></li>
                {{/if}}
              {{/if}}
            {{/if}}
            <li>
              <a id="share-run"><i class="fa fa-share-alt side-icon"></i>Share Link</a>
              <div class="input-group" id="share-url" style="display: none;">
                <span class="input-group-addon"><i class="fa fa-external-link"></i></span>
                <input type="text" readonly value="{{getShareUrl}}" class="form-control" id="share-url-input">
              </div>
            </li>
            <li><a id="delete-run">
              <i class="fa fa-trash side-icon"></i>{{{deleteText}}}
            </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</template>