/*****************************************************************************/
/* Run: Style */
/*****************************************************************************/
.noChapterImg {
  padding-left: 100px;
  width: 45%;
  height: auto;
}

.noChapterText {
  display: inline-block;
  width: 54%;
}

.noChapterButton {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 10px !important;
}

.run-header {
  margin-top: -25px;
}

.side-icon {
  color: #888;
  margin-right: 15px;
}

.current-side {
  background-color: #205081;
  color: #fff !important;
  margin-right: -6px;
  margin-left: -6px;
}

.actions {
  color: #205081;
  font-weight: bold;
  margin: 10px 0 5px 10px;
  font-size: 1em;
}

.divider {
  margin-top: 5px;
  height: 1px;
  background-color: #ddd;
}

.current-side a,
.current-side .side-icon {
  color: #fff !important;
  pointer-events: none;
  cursor: default;
}

.sidebar-nav {
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.sidebar-nav .navbar-toggle {
  border: 1px solid #777;
}

.sidebar-nav .icon-bar {
  border: 1px solid #777;
}

.sidebar-nav .navbar {
  margin-bottom: 0px;
}

.sidebar-nav .navbar-brand,
.sidebar-nav .navbar li a {
  color: #000;
}

#share-url {
  margin-right: 5px;
  margin-left: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#share-url > span {
  border: none;
  background-color: #fff !important;
  color: #888;
}

#share-url-input {
  background-color: #fff !important;
  padding-right: 5px;
  padding-left: 5px;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    width: 220px;
  }

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (max-width: 1300px) {
  .sidebar-nav {
    width: 100%;
  }
}